// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show view
.product-image {
  img {
    width: 100%;
  }
}

.product-info {
  h1 {
    color: purple;
    font-size: 2em;
  }

  h2 {
    color: orange;
    font-size: 2em;
  }
}


.all-products {
  padding: 30px;
  border: 1px solid orange;
  border-radius: 8px;
  margin-bottom: 80px;
  color: rgba(0,0,0,.5);

  h2 {
    font-weight: 600;
    padding-bottom: 20px
  }

  .product {
    padding-bottom: 10px;
    min-height: 80px;

    .product-info {
      width:100%;
      padding-right: 15px;
      padding-left: 15px;

      .product-market {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 14px;
      }

      .product-name {
        font-size: 13px;

        a {
          color: rgba(0,0,0,.5);

          &:hover {
            text-decoration: none;
            color: purple;
          }
        }
      }
    }

    .product-percentage {
      &.heroe {
        color: green;
        font-weight: 600;
      }

      &.villain {
        color: red;
        font-weight: 600;
      }
    }
  }
}
